
 
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-top: 20px; */
}

.column {
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
}

.card {
  background-color: #1F2937;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
 
a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #e7402e;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #c0392b;
}






 
